body{
    background-color: #009494;
}

.div{
    margin: 15%;
    border-radius: 15px;
    border: 10px solid black;
    display: grid;
    place-items: center;
}

#headline{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
